/*background image for webpage*/
body {
  background-image: url(images/product/intro.jpg);
  background-size: cover;
}

/*layout and style of the main contents*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  background-color: antiquewhite;
  margin: 220px 470px 48px 470px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 5.2);
}

/*styling for heading 1 tags*/
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin-bottom: 8px;
}

/*styling for paragraphs*/
p {
  font-family: "M PLUS 1p", sans-serif;
}
